<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <!-- Link de google font para la tipografia -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de MercadoLiebre"
          />
        </div>
        <form action="/home" method="POST">
          <div>
            <label for="buscar"></label>
            <input
              type="text"
              placeholder="Buscar productos,marcas"
              id="buscar"
            />
          </div>
          <div>
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
        <!-- <div class="form" action="#" method="GET">
          <div class="input">Buscar productos, marcas</div>
          <div class="search"><i class="fa fa-search"></i></div>
        </div> -->
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>

      <nav class="nav-completo">
        <ul class="list-header">
          <li><a href="#"> Ofertas </a></li>
          <li><a href="#"> Tiendas Oficiales</a></li>
          <li><a href="#"> Vender</a></li>
          <li><a href="#"> Ayuda</a></li>
        </ul>

        <ul class="register-header">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <!-- Burger Menu -->
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <section class="banner">
      <img src="/images/img-home-banner.jpg" width="360" alt="Home Banner" />
    </section>
    <main>
      <section clasee="ultima-visita">
        <h3>Basado en tu última visita</h3>
        <div class="products">
          <article>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="360"
              alt="Cafetera Moulinex"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% OFF</p>
              <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
          </article>

          <article>
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="360"
              alt="Mackbook Pro 2019"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% OFF</p>
              <h4 class="descripcion">MacBook Pro 2019</h4>
            </div>
          </article>

          <article>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="360"
              alt="Samsung Galaxy S10"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$70.500</p>
              <p class="descuentos">10% OFF</p>
              <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
          </article>

          <article>
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="360"
              alt="Samsung Smart"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% OFF</p>
              <h4 class="descripcion">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>

      <section class="ofertas">
        <h3>Ofertas</h3>
        <div class="products">
          <article>
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="360"
              alt="Cafetera Moulinex"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% OFF</p>
              <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
          </article>
          <article>
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="360"
              alt="Mackbook Pro 2019"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% OFF</p>
              <h4 class="descripcion">MacBook Pro 2019</h4>
            </div>
          </article>

          <article>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="360"
              alt="Samsung Galaxy S10"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$70.500</p>
              <p class="descuentos">10% OFF</p>
              <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
          </article>

          <article>
            <img
              src="/images/img-tv-samsung-smart.jpg"
              width="360"
              alt="Samsung Smart"
              class="product_img"
            />
            <div class="main-article-without-img">
              <i class="fas fa-truck"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% OFF</p>
              <h4 class="descripcion">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <div class="footerDesktop">
        <div>
          <i class="fas fa-credit-card iconos"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div>
          <i class="fas fa-gift iconos"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div>
          <i class="fas fa-user-shield iconos"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
