<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <!-- Link de google font para la tipografia -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de MercadoLiebre"
          />
        </div>
        <div class="form" action="#" method="GET">
          <div class="input">Buscar productos, marcas</div>
          <div class="search"><i class="fa fa-search"></i></div>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>

      <nav class="nav-completo">
        <ul class="list-header">
          <li><a href="#"> Ofertas </a></li>
          <li><a href="#"> Tiendas Oficiales</a></li>
          <li><a href="#"> Vender</a></li>
          <li><a href="#"> Ayuda</a></li>
        </ul>

        <ul class="register-header">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <!-- Burger Menu -->
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <section class="banner">
      <img src="/images/img-home-banner.jpg" width="360" alt="Home Banner" />
    </section>
    <main>
      <form action="/register" method="POST">
        <div>
          <label for="nombre">Nombre y Apellido:</label>
          <input type="text" name="nombre" id="nombre" required />
        </div>
        <div>
          <label for="usuario">Nombre de usuario:</label>
          <input type="text" name="usuario" id="usuario" required />
        </div>
        <div>
          <label for="nacimiento">Fecha de nacimiento:</label>
          <input
            type="date"
            name="nacimiento"
            id="nacimiento"
            min="1900-01-01"
            max="2010-01-01"
            required
          />
        </div>
        <div>
          <label for="domicilio">Domicilio:</label>
          <input type="text" name="domicilio" id="domicilio" required />
        </div>
        <div>
          <h4>Perfil del usuario:</h4>
          <label>
            <input type="radio" name="perfil" value="vendedor" required />
            Vendedor
          </label>
          <label>
            <input type="radio" name="perfil" value="comprador" />
            Comprador
          </label>
        </div>
        <div>
          <h4>Categorías de interés</h4>
          <label>
            <input type="checkbox" name="interes" value="electro" />
            Electro
          </label>
          <label>
            <input type="checkbox" name="interes" value="moda" />
            Moda
          </label>
          <label>
            <input type="checkbox" name="interes" value="hogar" />
            Hogar
          </label>
          <label>
            <input type="checkbox" name="interes" value="juguetería" />
            Juguetería
          </label>
          <label>
            <input type="checkbox" name="interes" value="vida sana" />
            Vida sana
          </label>
        </div>
        <div>
          <label>Seleccionar una imagen de perfil</label>
          <input type="file" name="foto" />
        </div>
        <div>
          <label for="password">Contraseña: </label>
          <input type="password" name="clave" id="password" required />
        </div>
        <div>
          <label for="password">Confirmar contraseña: </label>
          <input type="password" required name="clave" id="password" required/>
        </div>
        <div>
          <button type="reset">BORRAR</button>
        </div>
        <button type="submit">ENVIAR</button>
      </form>
    </main>

    <footer>
      <i class="fas fa-credit-card iconos"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <i class="fas fa-gift iconos"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <i class="fas fa-user-shield iconos"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
